/**
 * Remove like (favorites) counts
 * @see B.1
 */

/* Top of profile page */
.ProfileNav-item--favorites .ProfileNav-value,

/* Like a tweet */
.ProfileTweet-action--favorite .ProfileTweet-actionCountForPresentation,

/* Modal tweet view */
.js-stat-favorites strong,
.avatar-row,

/* Moments */
.MomentCapsuleLikesCount,
.MomentCapsuleLikesFacepile

{
  display: none !important;
}

/* Top of profile page will bottom align by default and look bad */
.ProfileNav-item--favorites
{
  vertical-align: top !important;
}

/* In modal tweet view the avatar-row is centering the text. Gotta re-center it. */
.js-stat-favorites a
{
  padding-bottom: 12px !important;
}
